/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #1d1d80;
  --secondary-color: #373d5e;
  --primary-font: 'Geist Mono', monospace;
  --text-color: #FFFFFF;
  --primary-button: #4e58a1;
  --primary-padding: 15px;
  --primary-margin: 5px;
  --border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--primary-font);
}

body {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  color: var(--text-color);
}

button {
  border-radius: var(--border-radius);
  padding: var(--primary-padding);
  width: 100%;
  max-width: 600px;
  border: none;
  background-color: var(--primary-button);
  color: var(--text-color);
  margin-bottom: var(--primary-margin);
  cursor: pointer;
  font-family: var(--primary-font);
}

button:hover {
  background-color: var(--secondary-color);
}

h1 {
  padding: var(--primary-padding);
}

.container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: var(--primary-padding);
}
